body {
  background-color: gray;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/newspaper-background.jpg");

  min-width: 100vh;
  min-height: 100vw;
  // background-repeat: no-repeat;
  // background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.container {
  padding-top: 10px;
}
.head {
  font-size: 80px;
  color: #ffffff;
  line-height: 4px;
  letter-spacing: 4px;
  padding-top: 10px;
  text-align: center;
}
.head-and {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 6px;
  color: #ffffff;
  text-align: center;
  line-height: 4px;
  padding-bottom: 20px;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
}
.article {
  width: 320px;
  margin: 20px;
  padding: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.8);
  background-color: rgb(243, 234, 234);
}
article:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
  transition: 0.4s ease-out;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4);
}
.date {
  font-size: 12px;
}
.search-form {
  text-align: center;
  margin-top: 40px;
}
input {
  font-size: 18px;
  width: 400px;
  height: 50px;
  padding: 0 10px;
}
.submit {
  width: 80px;
  height: 50px;
  border: none;
  margin-left: 20px;
}
button:hover,
input:hover {
  border: 2px solid rgba(34, 52, 66, 0.8);
}
.load-more {
  display: block;
  margin: 0 auto;
}

// Buttons for spinner
.to-bottom,
.to-top {
  font-size: 14px;
  width: 70px;
  height: 34px;
  background-color: #8559ec;
  text-align: center;
  border: 2px solid rgba(34, 52, 66, 0.8);
  margin-left: 10px;
}
.a-to-bottom,
.a-to-top {
  text-decoration: none;
  color: #ffffff;
}

// Media
@media (max-width: 538px) {
  .head {
    font-size: 50px;
    line-height: 4px;
    letter-spacing: 1px;
  }
  .head-and {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 4px;
  }
  input {
    font-size: 12px;
    width: auto;
    padding: 0 10px;
  }
}

// Loader from internet
.background-loader-hidden.background-loader {
  display: none;
}
.background-loader {
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(65, 58, 58, 0.4);
}
.loader {
  color: #ffffff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
